<!DOCTYPE html>
<html lang="kr">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="error content">
            오류! 페이지를 찾을 수 없습니다.
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>