<nav>
    <div class="site-title">
        <a href=""><h1>작은 도서관</h1></a>
        <p> 작은 도서관 사이트 </p>
    </div>
    <ul>
        <li> <a href="/">도서관</a></li>
        <li> <a href="/about">도서관 소개</a></li>
        <li> <a href="/books/create">새 책 입력</a></li>
    </ul>
</nav>